.form-publish {
    max-width: 630px;
    margin: 39px auto 0;
    background: #fff;
    box-shadow: 0 0 16px rgba(109, 109, 109, 0.16);
    padding: 39px 67px;
}
.inp-group, .meta, .row {
    margin: 0 0 38px;
}
input[type="text"], select{
    width: 100%;
    height: 51px;
    border-radius: 4px;
    background: #F9F8F8;
    border: none;
    padding: 0 18px;
    color: #9b9b9b;
    border: 1px solid #F2F2F2;
}
textarea{
	width: 100%;
    height: 100px;
    border-radius: 4px;
    background: #F9F8F8;
    border: none;
    padding: 0 18px;
    color: #9b9b9b;
    border: 1px solid #F2F2F2;
}
p {
    margin: 0 0 20px;
}
.btn-center {
    display: table;
    margin: 0 auto;
}
button{
	    background-color: #049D90!important;
}
button.hover{
	    background-color: #FF1C1C!important;
}
button, input.submit, #btn_subscribe, .searchbutton {
    min-width: 200px;
    height: 51px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    transition: all 250ms;
}
h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 400;
    margin: 0 0 25px;
    letter-spacing: 1px;
    color: #444343;
}
.h2-bottom-line {
    position: relative;
    padding: 22px 0 1px;
}